# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node/Expo
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*
*.env

# TypeScript
*.tsbuildinfo

# Example app
app-example

# Generated native folders
/ios
/android

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Backend env and config
backend-python/.env
backend-python/__pycache__/
backend-python/config/__pycache__/
backend-python/models/__pycache__/
backend-python/routers/__pycache__/
backend-python/schemas/__pycache__/
backend-python/services/__pycache__/
